/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Table
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(table) {
	padding: 60px 0;
	text-align: left;
	width: 100%;
	@extend .group;
    
    @include bem-element(row) {
	    border-bottom: 1px solid $greyD;
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	}

	@include bem-element(cell) {
		text-align: left;
		@include font-size(20);
		padding: 10px;
		vertical-align: top;
		
		@include breakpoint(medium) {
			@include font-size(20);
		}
	}

	@include bem-element(image) {
		width: 20%;
		float: left;
		margin: 0 10px;
	}

	@include bem-element(text) {
		@include font-size(16);
		color: $grey8;
		margin: 0;
		
		@include breakpoint(medium) {
			@include font-size(16);
		}
	}

	@include bem-element(text, large) {
		@include font-size(20);
		color: $grey2;
		margin: 0;
		
		@include breakpoint(medium) {
			@include font-size(20);
		}
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Buttons
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(button) {
	@include font-size(14);
	border: 2px solid $black;
	color:$black;
	transition: all 0.3s ease;
	padding: 10px;
	margin-left: 10px;
	
	&:hover {
		color: $red1;
		border: 2px solid $red1;
	}
	
	i {
		@include font-size(18);
		margin-right: 5px;
	}

	span {
		text-transform: uppercase;
	}
};