/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Table
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(table) {
	padding: 60px 0;
	text-align: left;
	width: 100%;
	@extend .group;
    
    @include bem-element(row) {
	    border-bottom: 1px solid $greyD;
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	}

	@include bem-element(cell) {
		text-align: left;
		@include font-size(20);
		padding: 10px;
		vertical-align: top;
		
		@include breakpoint(medium) {
			@include font-size(20);
		}
	}

	@include bem-element(image) {
		width: 20%;
		float: left;
		margin: 0 10px;
	}

	@include bem-element(text) {
		@include font-size(16);
		color: $grey8;
		margin: 0;
		
		@include breakpoint(medium) {
			@include font-size(16);
		}
	}

	@include bem-element(text, large) {
		@include font-size(20);
		color: $grey2;
		margin: 0;
		
		@include breakpoint(medium) {
			@include font-size(20);
		}
	}
<<<<<<< HEAD

	@include bem-element(text, right) {
		text-align: right;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Buttons
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(button) {
	padding: 10px;
	text-align: center;
	color: white;
	background-color: $grey8;
	@include font-size(14);
	margin-left: 10px;
	
	&:hover {
      background-color: $grey5;
   }
};

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Form
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(form) {
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	float: left;
	width: 100%;
	padding: 0;
	
	@include bem-element(input) {
	 	float: left;
    	padding: 0;
	    margin: 2% 0;    
    	width: 100%;	
	}

	@include bem-element(input-half) {
	 	width: 48%;
	 	margin: 2% 0;
	 	float: left;
	}

	@include bem-element(text-input) {
		padding: 5px;
    	width: 100%;
    	line-height: 1.5;
    	@include font-size(14);
	    border: 1px solid rgba(129,129,129,.25);
	    margin: 0;
	}

	@include bem-element(dropdown) {  
	    position: relative;
		padding: 5px;
    	width: 100%;
    	line-height: 1.5;
    	color: $grey8;
    	@include font-size(14);
	    background: #fff;
	    cursor: pointer;
	    outline: none;
	    border: 1px solid rgba(129,129,129,.25);
	    border-radius: 0;
	}
}

@include bem-block(form, two-third) {
	width: 100%;
	margin: 0;
	padding: 0;
	
	@include breakpoint(small) {
		width: 100%;
		margin: 0;
	}

	@include breakpoint(medium) {
		width: 67%;
	    margin: 0 16.5%
	}

}