/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Dirty Cover
------------------------------------------------------------------------------------------------------------------------------------------------------ */

#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Section
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(section) {
	padding: 60px 0;
	text-align: center;
	@extend .group;
	background-color: $white;
    
	@include bem-element(header) {
		text-align: center;
		@include font-size(30);
		margin-top: 10px;
		font-variant: small-caps;
		
		@include breakpoint(medium) {
			@include font-size(50);
		}
	}

	@include bem-element(header, white) {
		color: $white;
	}

	@include bem-element(image) {
		width: 100%;
		opacity: 0.8;
	}
}

@include bem-block(section, black) {
	background-color: $black;
}

@include bem-block(section, divider) {
	padding: 0;
	background-color: $black;
}

@include bem-block(section, slider) {
	padding: 0;
}




/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Container
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(container) {
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	float: left;
	width: 100%;

	@include bem-element(header) {
		color:$black;
		font-variant: small-caps;
		margin-left:10px;
		margin-right: 10px;
		@include font-size(24);
	}

	@include bem-element(header, white) {
		color:$white;
	}

	@include bem-element(header, small) {
		@include font-size(16);
		line-height: 45px;
	}

	@include bem-element(text) {
		color: $black;
		@include font-size(14);
		line-height: 25px;
		margin: 0 20px;
	}

	@include bem-element(text, white) {
		color: $white;
	}

	@include bem-element(text, large) {
		@include font-size(22);
	}

	@include bem-element(text, margin-bottom) {
		margin-bottom: 50px;
	}

	@include bem-element(iframe) {
		width: 100%;
		margin: 0 auto;
		border:none;
		height: 300px;
		
		@include breakpoint(small) {
			width: 80%;	
		}

		@include breakpoint(medium) {
			height: 400px;
			width: 70%;
		}
	}
	
	@include bem-element(image) {
		width: 100%;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	@include bem-element(button-wrapper) {
		width: 50%;
		margin:0 auto;
		margin-top: 20px;
	}

	@include bem-element(button) {
		width: 50%;
		color:$white;
		float: left;
		@include font-size(16);
		
		&:hover {
			color:$yellow1;
		}
	}
}

@include bem-block(container, half) {
	width: 100%;
	
	@include breakpoint(medium) {
		width: 50%;
	}
}

@include bem-block(container, stay-half) {
	width: 50%;
}

@include bem-block(container, third) {
	width: 100%;
	
	@include breakpoint(small) {
		width: 50%;
	}
	@include breakpoint(medium) {
		width: 33%;
	}
}

@include bem-block(container, stay-third) {
	width: 100%;

	@include breakpoint(medium) {
		width: 33%;
	}
}

@include bem-block(container, two-third) {
	width: 100%;
	
	@include breakpoint(small) {
		width: 50%;
	}

	@include breakpoint(medium) {
		width: 67%;
	}
}

@include bem-block(container, quarter) {
	width: 100%;
	-webkit-transition: ease-in all 200ms;
	
	
	@include breakpoint(small) {
		width: 50%;
	}
	@include breakpoint(medium) {
		width: 25%;
	}
}

@include bem-block(container, right) {
	text-align: right;
}

@include bem-block(container, no-padding) {
	padding: 0 10px;
	
	@include breakpoint(small) {
			padding: 10px;
	}
}

@include bem-block(container, zoom) {
		&:hover img {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Buttons
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(button) {
	@include font-size(14);
	border: 2px solid $black;
	color:$black;
	transition: all 0.3s ease;
	padding: 10px;
	margin-left: 10px;
	text-transform: uppercase;
	background-color: white;
	cursor: pointer;
	
	&:hover {
		color: $red1;
		border: 2px solid $red1;
	}
	
	i {
		@include font-size(18);
		margin-right: 5px;
	}
};

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Slider
------------------------------------------------------------------------------------------------------------------------------------------------------ */
.slick-track {
	margin: 35px 0;
	 
	.slick-slide {
		outline: none;
		
		img {
			margin: 0 auto;
		}
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Countdown -- DIRT
------------------------------------------------------------------------------------------------------------------------------------------------------ */

.clock {
    width: 273px;
    margin: 0 auto;
    
    @include breakpoint(small) {
	 	width: 482px;
	}

    @include breakpoint(medium) {
	 	width: 690px;
	}
   
}
    
.flip-clock-wrapper ul li a div div.inn {
	@include font-size(20);
	border-radius: 3px;

	@include breakpoint(small) {
		@include font-size(35);
		border-radius: 4.5px;
	}

	@include breakpoint(medium) {
		@include font-size(50);
		border-radius: 6px;
	}
}

.flip-clock-wrapper ul {
	width: 23px;
	height: 33px;
	margin: 2px;

	@include breakpoint(small) {
		width: 41.5px;
		height: 61.5px;
		margin: 3.5px;
	}

	@include breakpoint(medium) {
		width: 60px;
		height: 90px;
		margin: 5px;
	}
}

.flip-clock-wrapper ul li {
	line-height: 30px;
	
	@include breakpoint(small) {
		line-height: 58.5px;
	}

	@include breakpoint(medium) {
		line-height: 87px;
	}
	
}

.flip-clock-wrapper ul li a div {
	height: 49%;
	
	@include breakpoint(small) {
		height: 48%;
	}

	@include breakpoint(medium) {
		height: 50%;
	}
}

.flip-clock-dot {
	height: 5px;
	width: 5px;
	left: 2.5px;

	@include breakpoint(small) {
		height: 7.5px;
		width: 7.5px;
		left: 3.75px;
	}

	@include breakpoint(medium) {
		height: 10px;
		width: 10px;
		left: 5px;
	}
}

.flip-clock-dot.top {
    top: 8px;

	@include breakpoint(small) {
	    top: 19px;
	}

	@include breakpoint(medium) {
		top: 30px
	}
}

.flip-clock-dot.bottom {
    bottom: 8px;

	@include breakpoint(small) {
	    bottom: 19px;
	}

	@include breakpoint(medium) {
		bottom: 30px
	}
}

.flip-clock-divider {
	height: 37px;
	width: 10px;
	
	@include breakpoint(small) {
		height: 68.5px;
		width: 15px;
	}

	@include breakpoint(medium) {
		height: 100px;
		width: 20px;
	}
}

.flip-clock-wrapper ul li a div.down {
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    @include breakpoint(small) {
		border-bottom-left-radius: 4.5px;
    	border-bottom-right-radius: 4.5px;
	}

	@include breakpoint(medium) {
		border-bottom-left-radius: 6px;
    	border-bottom-right-radius: 6px;
	}
}

.countdown {
	
	.countdown-headings {
 	    width: 273px;
	 	margin: 0 auto;
	 	
	 	@include breakpoint(small) {
			width: 482px;
		}

		@include breakpoint(medium) {
			width: 690px;
		}

		.countdown-title {
			float: left;
			color: $white;
			@include font-size(12);
			
			@include breakpoint(small) {
				@include font-size(18);
			}

			@include breakpoint(medium) {
				@include font-size(24);
			}
		}

		.days {
			margin: 0 27px;
			
			@include breakpoint(small) {
				margin: 0 53px;
			}

			@include breakpoint(medium) {
				margin: 0 79px;
			}
		}

		.hours {
			margin: 0 19px;
			
			@include breakpoint(small) {
				margin: 0 36px;
			}

			@include breakpoint(medium) {
				margin: 0 53px;
			}
		}

		.mins {
			margin: 0 7px;
			
			@include breakpoint(small) {
				margin: 0 17px;
			}

			@include breakpoint(medium) {
				margin: 0 27px;
			}
		}

		.secs {
			margin: 0 0 0 9px;
			
			@include breakpoint(small) {
				margin: 0 0 0 24.5px;
			}

			@include breakpoint(medium) {
				margin: 0 0 0 40px;
			}
		}

	}

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Accordion
------------------------------------------------------------------------------------------------------------------------------------------------------ */
	    
@include bem-block(accordion) {
	margin: 0 auto;
	padding: 20px;
	float: left;
	
	@include bem-element(header) {
		color: $white;
		@include font-size(30);
		cursor: pointer;
		outline:none;
		font-variant: small-caps;
	}

	@include bem-element(header, $pseudo-class: "hover") {
		color: $red1;
	}

	@include bem-element(text) {
		@include font-size(16);
		color: $white;
	}
}