.wrap {
	border: 2px solid $black;
	color:$black;
	transition: all 0.3s ease;
	padding: 20px 0;
	
	&:hover {
		color: $red1;
		border: 2px solid $red1;
	}
	
	i {
		@include font-size(18);
		margin-right: 10px;
	}

	span {
		@include font-size(14);
		text-transform: uppercase;
	}
}
