.flash {
	top:60px;
	background-color: $white;
	position: absolute;
	width: 100%;
	padding: 10px;
	margin-bottom: 0px;
	z-index: 1000;
	text-align: center;
	@include font-size(14);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
	}
		&:last-child {
			margin-bottom: 0;
	}
}

