<!-- HERO -->

<div class="hero hero-cover" id="home">

	<div class="loader"></div>

	<h1 class="hero__header"> Hooked Gathering<br> 2016</h1>

	<%= image_tag("intro-hooked.png" , class: "hero__subheader") %>


</div>