<!-- HERO -->

<div class="hero hero-cover" id="particles-js">
	
	<h1 class="hero__header">hooked gathering<br> <span class="hero__subheader">2016</span></h1>
	<%= image_tag("bunny-white.jpg", class: "hero__image") %>
</div>