<!-- HERO -->

<div class="hero hero-cover" id="home">

	<h1 class="hero__header">hooked gathering<br> <span class="hero__subheader">2016</span></h1>

	<%= image_tag("intro-hooked.png" , class: "hero__image") %>

</div>
<!-- 
<div class="hero hero-cover" id ="gif" style="z-index:60; display:none;">
	<%= image_tag("cover.gif", class: "section__image") %>
</div>

<div class="hero hero-cover" id ="black-loading" style="position: absolute; top: 0; z-index: 60; height: 100vh; background-color: 'black;">
</div> -->