<%= render 'topbar_alt' %>


<div class="section section--black">

	<div class="content-wrapper">

	<h2 class="section__header section__header--white">Tickets</h2>

		<iframe
			width="100%"
			scrolling="auto"
			height="1500"
			frameborder="0"
			marginwidth="0"
			marginheight="0"
			src="https://frontoffice.paylogic.nl/flows/MTAuMTAwLjIuMiw1NCw2YjYzNTZmMzMwOTc0YzkxOTkyNDk1YTczNmU0YjI2NCxiYzE5OGM4NGZhYjY5NDg0OTU4MGRiODJjYWUzZjU5Nw/Tickets/"
			name="paylogicFO"
			id="myFO">
		</iframe>

			
	</div>

</div>