<div class="section">

	<div class="content-wrapper">

		<h2 class="section__header">Your basket</h2>

		<%= render 'items', :order => current_order %>
		
		<div class="container container--right">

			<%= link_to 'EMPTY BASKET', basket_path, :method => :delete, class: "button" %>

			<%= link_to "CHECKOUT", checkout_path, class: "button" %>

		</div>
		
	</div>

</div>
