/* --------------------------------------------------
   Video
-------------------------------------------------- */

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    overflow: hidden;
    
    video::-webkit-media-controls {
    display:none !important;
	}
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
		
}

.video-container .filter {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container__video {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -5;
}

.video-container video.fillWidth {
    width: 100%;
}



/* --------------------------------------------------
   Hero
-------------------------------------------------- */
       
// background image with black overlay
.loader {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    // opacity: 0.6;
    background-image: url("/images/cover.gif");
	background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.hero__header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url("/images/cover.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

@include bem-block(hero) {
	z-index: 1;
	position: relative;
	overflow: hidden;
	background-color: black;
	width: 100%;
	height: 100vh;
	opacity: 1;
	min-height:550px;
	margin: 0;
	text-align: center;		
	color:$white;

	@include bem-element(header) {
		margin-top: 180px;
		@include font-size(50);
		font-family: 'Permanent Marker', cursive;
	    	text-shadow: 0 2px 6px rgba(0,0,0,0.5);

		@include breakpoint(medium) {
			@include font-size(80);
		}
	}

	@include bem-element(subheader) {
		margin-top: 10px;
		width: 60%;
		
		@include breakpoint(medium) {
			width: 25%;
		}
	}

}