/* --------------------------------------------------
   Video
-------------------------------------------------- */

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    overflow: hidden;
    
    video::-webkit-media-controls {
    display:none !important;
	}
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
		
}

.video-container .filter {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container__video {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -5;
}

.video-container video.fillWidth {
    width: 100%;
}



/* --------------------------------------------------
   Hero
-------------------------------------------------- */

.loader {
    background-color: $black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}

.particles-js-canvas-el {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

@include bem-block(hero) {
	z-index: 1;
	position: relative;
	overflow: hidden;
	background-color: black;
	width: 100%;
	height: 100vh;
	user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	opacity: 1;
	min-height:550px;
	text-align: left;	
	margin: 0;
	color:$white;

	@include bem-element(header) {
		margin-top: 200px;
		margin-left: 0px;
		position: relative; 
		z-index: 100;		
		text-align: center;
		@include font-size(48);
                        font-variant: small-caps;

		@include breakpoint(medium) {
			margin-top: 150px;
			text-align: left;	
			margin-left: 50px;
			@include font-size(70);
		}
	}

	@include bem-element(subheader) {
		margin-top: 10px;
	}

	@include bem-element(timer) {
		position: absolute;
		bottom: 0;
		left: 0;
		font-family: 'helvetica', sans-serif;
		font-variant: small-caps;
		margin-left: 0px;
		@include font-size(40);
		margin-bottom: 0px;
		display: none;
		
		@include breakpoint(medium) {
			margin-left: 50px;
			display: block;
			margin-bottom: 50px;
		}
	}

            @include bem-element(image) {
                    margin-top: 0px;
                    right: 50px;
                    bottom:0;
                    z-index: 101;
                    width: 60%;	
                    position: absolute;	
                   
                    @include breakpoint(medium) {
                    	margin-top: 120px;

                        width: 40%;
                    }
            }

}