/* --------------------------------------------------
   Footer
-------------------------------------------------- */

.footer {
	background-color: $white;
	z-index: 5;

	
	img {
		width: 50%;
		margin: 0;
		
		@include breakpoint(small) {
			width: 145px;
			margin: 8px 0;
		}
	}

	.social-media {
		float: none;
		
		@include breakpoint(small) {
			float: left;
		}
		
		i {
			margin: 10px 25px;
			color: $black;
			@include font-size(40);

			@include breakpoint(small) {
				margin: 15px 10px;
				@include font-size(20);
			}

			@include breakpoint(small-medium) {
				margin: 10px;
				@include font-size(30);
			}

			@include breakpoint(medium) {
				@include font-size(35);
			}

			@include breakpoint(medium-large) {
				margin: 20px 10px;
				@include font-size(40);
			}

		}

		i:hover {
			color: $red1;
		}
	}
	
	.terms {
		float: none;
		margin: 0;
		@include font-size(13);
		
		@include breakpoint(small) {
			margin: 8% 0;
			float: right;
		}
	}

	.jandg {
		color: $black;
	    border-top: dashed 1px;
		@extend .group;
		@include font-size(10);

		a {
			color: $black;
		}

		i {
			color: $red1;
		}

	}

	.jandg:hover {
		color: $red1;
	}
}
