/* --------------------------------------------------
   Footer
-------------------------------------------------- */

.footer {
	background-color: $white;
	z-index: 5;
	text-align: right;
	
	img {
		width: 20%;
	}
}
