/* --------------------------------------------------
   Topbar
-------------------------------------------------- */
@include bem-block(topbar) {
	width: 100%;
	background: transparant;
	position: fixed;
	top: 0;
	text-transform: uppercase;
	text-align: center;
	height: 60px;
	color:$white;
	z-index: 10;
	display: none;
	@extend .group;
	
	@include bem-element(menu) {
		float: right;
		padding: 10px 20px;
		display:block;
		@include font-size(30);
		line-height: 40px;
		cursor: pointer;
		
		
		@include breakpoint(small-medium) {
			display:none;
		}
	}

	@include bem-element(fb) {
		position: absolute;
		top: 0;
		left: 0;
		text-transform: lowercase;
		text-transform: capitalize;
		font-weight: 700;
		@include font-size(15);
		margin-left: 15px;
		font-family: 'Raleway', sans-serif;
		
		.fa-facebook {
			@include font-size(25);	
		}

		&::after {
			content: "like HOOKED";
			margin-left: 10px;
			line-height: 60px;
		}
	}

	@include bem-element(fb, $pseudo-class: hover) {
			color:$red1;
	}
}

@include bem-block(topbar, scrolled) {
	background-color: $black;
	transition: all 1.2s;
}

@include bem-block(nav) {
	text-align:center;
	display:none;
	float: none;
	-webkit-box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.75);

	@include breakpoint(small-medium) {
		display:block !important;
		float:none;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	}

	@include bem-element(listItem) {
		display: inline-block;
		background-color: $white;
		width: 100%;
		line-height: 45px;	
		
		@include breakpoint(small-medium) {
			width: auto;
			line-height: 59px;
			background-color: transparent;
		}
		
		@include bem-element(link) {
			color:$black;
			cursor:pointer;
			position: relative;
			margin: 0;
			padding: 5px 0;
			margin: 5px 0;
			font-weight: 700;
			@include font-size(16);
			
			@include breakpoint(small-medium) {
				color:$white;
				padding:0px 5px;
				margin: 0px 5px;
			}
			
		}
		
		@include bem-element(link, $pseudo-class: hover) {
			color:$red1;
		}
		
	}

}
