<!-- FOOTER -->

<div class="footer">

	<div class="container container--stay-third">

		<div class="social-media">
			<a href="mailto:info@hookedgathering.com" target="_top"><i class="fa fa-envelope"></i></a>
			
			<a href="https://www.instagram.com/hookedgathering/"><i class="fa fa-instagram"></i></a>
			
			<a href="https://www.facebook.com/hookedgathering"><i class="fa fa-facebook"></i></a>
		</div>

	</div>

	<div class=" container container--stay-third">
		<%= image_tag("hooked-banner.png")%>
	</div>

	<div class="container container--stay-third">

		<div class="terms">
			&copy; 2016 Hooked Gathering.
		</div>

	</div>

	<a href="http://www.jackandgeorge.co/" target="_blank">
		<div class="jandg container"> 
			Made with <i class="hero__icon fa fa-heart"></i> by Jack and George	
		</div>
	</a>

</div>